<!DOCTYPE html>
<html class="html" lang="@@lang" dir="ltr">

    <!-- Head -->
    <head>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@@title</title>
        <!-- / Meta -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        <!-- Styles --><script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="./assets/styles/style.min.css">
        <!-- / Styles -->

    </head>
    <!-- / Head -->

    <!-- Body -->
    <body class="body html__body">
        
     
